body{
    background-image: url('background.jpg');
    background-size:cover;
    background-position:center;
    /* background-repeat:no-repeat; */
    font-family:'arial','sans serif';
    margin:0;
    padding:0;
    align-items:center;
    justify-content:center;

}

*{
    box-sizing:border-box;
}

header{
    text-align:left;
    /* padding:20px; */
}

/* #ocd{
    height:80px;
    width:80px;
    border-radius:20%;
} */

#ocd{
    height:50px;
    width:50px;
    border-radius:20%;
    margin:8px;
}

#login-container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:auto;
}

.login-box{
    background:#F8E7F6;
    border:1px solid #DD88CF;
    border-radius:10px;
    padding: 25px;
    text-align: center;
    width: 350px;

}

#user{
    height:60px;
    width:60px;
    margin-bottom:15px;
    border:1px solid black;
    border-radius:50%;

}

h1{
    font-size:24px;
    color:#4B164C;
    font-weight:700;
    margin-bottom:15px;
}

.input-group{
    text-align:left;
    margin-bottom:15px;
}

label{
    font-size:16px;
    font-weight:500;
    color:black;
}

input{
    padding:10px;
    width:100%;
    font-size:16px;
    border:1px solid #4B164C;
    border-radius:5px;
    margin-top:15px;
    
}

#forgot-pass{
    text-align:right;
    margin-top:5px;
    font-size:14px;
}

#loginButton{
    font-size:18px;
    background:#4B164C;
    color:white;
    width:100%;
    margin-top:15px;
    padding:12px;
    border:1px solid #DD88CF;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

#loginButton:hover{
    border:1.5px solid black;
    background:#360b36;

}

#loginButton:active {
    background: #F5F5F5;
    color: black;
    font-weight: bold;
}

#signup-link a{
    color:#4B164C;
    font-weight:bold;
    text-decoration:none;
}

#signup-link a:hover{
    text-decoration: underline;
}

footer{
    text-align:center;
    padding:10px;
    font-size:14px;
    background:#4B164C;
    color:white;
    position:absolute;
    bottom:0;
    width:100%;
}




